<div fxLayout="row" fxLayout.lt-lg="column">
  <div [fxFlex]="graphSizeFlex | async" fxFlexFill>
    <mat-tab-group class="grid-content">
      <mat-tab class="graph-container">
        <ng-template mat-tab-label>
          <span fxShow fxHide.lt-sm>Last 120 minutes</span>
          <span fxHide fxShow.lt-sm>120m</span>
        </ng-template>
        <ng-container *ngIf="minuteData | async as loadedData; else loading">
          <msu-graph [data]="loadedData" [size]="graphSize | async"></msu-graph>
        </ng-container>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-tab>
      <mat-tab class="graph-container">
        <ng-template mat-tab-label>
          <span fxShow fxHide.lt-sm>Last 48 hours</span>
          <span fxHide fxShow.lt-sm>48h</span>
        </ng-template>
        <ng-container *ngIf="hourData | async as loadedData; else loading">
          <msu-graph [data]="loadedData" [size]="graphSize | async"></msu-graph>
        </ng-container>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-tab>
      <mat-tab class="graph-container">
        <ng-template mat-tab-label>
          <span fxShow fxHide.lt-sm>Last 30 days</span>
          <span fxHide fxShow.lt-sm>30d</span>
        </ng-template>
        <ng-container *ngIf="dayData | async as loadedData; else loading">
          <msu-graph [data]="loadedData" [size]="graphSize | async"></msu-graph>
        </ng-container>
        <ng-template #loading>
          <mat-spinner></mat-spinner>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div fxFlex="1 1" fxFlex.lt-lg="100">
    <form [formGroup]="filterForm"  fxLayout="column">
      <mat-form-field>
        <mat-select
          placeholder="Rig Profile"
          (selectionChange)="rigProfileSelected($event)"
          [value]="selectedProfile | async"
        >
          <ng-container *ngIf="availableRigProfiles | async as rigProfiles">
            <mat-option *ngFor="let uuid of keys(rigProfiles)" [value]="uuid">
              {{rigProfiles[uuid].name}}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [formControlName]="'name'" placeholder="Filter" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filterNameOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-table [dataSource]="tablePageData">
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Pool / Algo</mat-header-cell>
          <mat-cell *matCellDef="let data">{{ data.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Profitability (mBTC/day)</mat-header-cell>
          <mat-cell *matCellDef="let data">{{ data.value | number:'1.4-4' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef>Last Update</mat-header-cell>
          <mat-cell *matCellDef="let data">{{ data.age }}</mat-cell>
        </ng-container>
      </mat-table>
      <mat-paginator
        [length]="tablePageTotal | async"
        [pageSize]="tablePageSize | async"
        [pageIndex]="tablePageNumber | async"
        (page)="tablePageChanged($event)"
      >
      </mat-paginator>
    </form>
  </div>
</div>
