<div
  fxLayout="row"
  fxLayout.lt-lg="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-lg="10px"
>
  <div fxFlex="50%" fxFlex.lt-lg="100%" fxLayout="column">
    <h1>Profit History</h1>
    <p>Review trends for the pools/algorithms shown in the adjacent table</p>
    <msu-history
      [currentData]="currentData"
      [currentHighlight]="currentHighlight"
      [rigProfileSource]="rigProfileSource"
      fxFlex="calc(50% - 20px)"
      fxFlex.lt-lg="100%"
      fxLayout="row"
      fxLayout.lt-lg="column"
    >
    </msu-history>
  </div>
  <div fxFlex="50%" fxFlex.lt-lg="100%" fxLayout="column">
    <h1>Current Profitability</h1>
    <p>Recent data collected from pools, adjusted for your rigs hashrate</p>
    <msu-current
      [rigProfileSource]="rigProfileSource"
      [filterSource]="filterSource"
      (currentData)="updateCurrentData($event)"
      (currentRigProfile)="updateRigProfile($event)"
      (currentHighlight)="updateCurrentHighlight($event)"
    >
    </msu-current>
  </div>
</div>
