<mat-table [dataSource]="tablePageData" *ngIf="tablePageData | async; else loading">
  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Pool / Algo</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="value">
    <mat-header-cell *matHeaderCellDef>Profitability (m&#x243;/day)</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.value | number:'1.4-4' }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="age">
    <mat-header-cell *matHeaderCellDef>Last Update</mat-header-cell>
    <mat-cell *matCellDef="let data">{{ data.age }}</mat-cell>
  </ng-container>
</mat-table>
<mat-paginator [length]="tablePageTotal | async" [pageSize]="tablePageSize | async" [pageIndex]="tablePageNumber | async"
  (page)="tablePageChanged($event)">
</mat-paginator>

<ng-template #loading>
  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>