<div fxLayout="row wrap" fxLayoutAlign="center" *ngIf="tablePageData | async as loadedPageData; else loading">
  <mat-card
    *ngFor="let data of loadedPageData"
    fxFlex="300px"
    class="price-card"
    (mouseenter)="highlight(data)"
    (mouseleave)="unhighlight(data)"
  >
    <mat-card-title-group>
      <mat-card-title>{{data.algo}}</mat-card-title>
      <mat-card-subtitle>{{data.pool}}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content fxLayout="row">
      <div fxFlex="50%">
        {{ data.value | number:'1.4-4' }} m&#x243;/day
      </div>
      <div fxFlex="50%" fxLayoutAlign="end">
        {{ data.age }}
      </div>
    </mat-card-content>
  </mat-card>
</div>
<mat-paginator [length]="tablePageTotal | async" [pageSize]="tablePageSize | async" [pageIndex]="tablePageNumber | async"
  (page)="tablePageChanged($event)">
</mat-paginator>

<ng-template #loading>
  <div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>