<div *ngIf="afAuth.authState | async as user; else showLogin">
  <h1>Hello {{ user.displayName }}!</h1>
  <button (click)="logout()">Logout</button>

  <ng-container *ngIf="data | async as loadedData">
    <msu-graph [data]="loadedData"></msu-graph>
  </ng-container>

  <ng-container *ngIf="hourlyData | async as loadedData">
    <msu-graph [data]="loadedData"></msu-graph>
  </ng-container>

  <ng-container *ngIf="dailyData | async as loadedData">
    <msu-graph [data]="loadedData"></msu-graph>
  </ng-container>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
