.fill {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .toolbar-content {
    width: calc(100% - 20px);
    max-width: 1200px;
    margin: auto;
  }
}

.content {
  position: relative;
  top: 64px;
  width: calc(100% - 20px);
  max-width: 1200px;
  margin: auto;
  height: calc(100% - 20px);
  padding: 10px;

  &.xs {
    top: 56px;
  }
}

.avatar {
  img {
    max-height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

  &.xs img {
    max-height: 36px;
  }
}