<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>
    <a mat-button [routerLink]=""><h1>Miner Stats</h1></a>
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill"></span>

  <span>
    <ng-container *ngIf="afAuth.authState | async as user; else showLogin">
      <button
        mat-button
        matTooltip="Logout"
        (click)="logout()"
      >
        Logged in as {{ user.displayName }}
      </button>
    </ng-container>
    <ng-template #showLogin>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </span>
</mat-toolbar>

<div class="content" ngClass.lt-sm="xs">
  <ng-container *ngIf="afAuth.authState | async; else directToLogin">
    <router-outlet></router-outlet>
  </ng-container>

  <ng-template #directToLogin>
    <div fxLayout="column" fxLayoutAlign="center center" fx>
      <mat-card class="mat-elevation-z8" fxFlexOffset="25px" fxLayout="column" fxLayoutAlign="center center">
        <mat-card-title>Please login to view data</mat-card-title>
        <button mat-raised-button (click)="login()" color="primary">
          <img src="/assets/btn_google_light_normal_ios.svg">
          Sign in with Google
        </button>
      </mat-card>
    </div>
  </ng-template>
</div>
