<mat-toolbar color="primary">
  <span>Miner Stats</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill"></span>

  <span>
    <ng-container *ngIf="afAuth.authState | async as user; else showLogin">
      {{ user.displayName }}
      <button mat-button (click)="logout()">Logout</button>
    </ng-container>
    <ng-template #showLogin>
      <button mat-button (click)="login()">Login</button>
    </ng-template>
  </span>
</mat-toolbar>

<ng-container *ngIf="afAuth.authState | async; else directToLogin">
  <router-outlet></router-outlet>
</ng-container>

<ng-template #directToLogin>
  <h1>Please login to view data.</h1>
</ng-template>
